services:
  db:
    image: mongo:latest
    network_mode: host
    volumes:
      - mongodb_data:/data/db
    restart: always

  backend:
    build: ./backend
    network_mode: host
    env_file:
      - ./backend/.env
    environment:
      - PORT=5000
      - MONGO_URI=mongodb://localhost:27017/schedulifynow
      - FRONTEND_URL=http://localhost:5173
    depends_on:
      - db
    restart: always

  frontend:
    build: ./frontend
    network_mode: host
    environment:
      - VITE_API_URL=http://localhost:5000/api
    depends_on:
      - backend
    restart: always

  nginx:
    image: nginx:latest
    network_mode: host
    volumes:
      - ./nginx/nginx_dev.conf:/etc/nginx/conf.d/default.conf
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    depends_on:
      - frontend
      - backend
    restart: always

volumes:
  mongodb_data:
