services:
  db:
    image: mongo:latest
    network_mode: host
    volumes:
      - mongodb_data:/data/db
    restart: always

  backend:
    build: ./backend
    network_mode: host
    environment:
      - PORT=5000
      - MONGO_URI=mongodb://localhost:27017/schedulify
      - JWT_SECRET=your_super_secret_jwt_key_123
      - FRONTEND_URL=http://localhost:5173
      - DEFAULT_SUPER_ADMIN=superadmin@yopmail.com
      - DEFAULT_SUPER_ADMIN_PASSWORD=Password@2026
      - GMAIL_USER=ambranelabs@gmail.com
      - GMAIL_PASS=gxcfxvzoloedfpzj
    depends_on:
      - db
    restart: always

  frontend:
    build: ./frontend
    network_mode: host
    environment:
      - VITE_API_URL=http://localhost:5000/api
    depends_on:
      - backend
    restart: always

volumes:
  mongodb_data:
