services:
  db:
    image: mongo:latest
    dns:
      - 8.8.8.8
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db

  backend:
    build: ./backend
    dns:
      - 8.8.8.8
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
      - MONGO_URI=mongodb://db:27017/schedulifynow
      - JWT_SECRET=your_super_secret_jwt_key_123
      - FRONTEND_URL=http://localhost:5173
    depends_on:
      - db

  frontend:
    build: ./frontend
    dns:
      - 8.8.8.8
    ports:
      - "5173:5173"
    environment:
      - VITE_API_URL=http://localhost:5000/api
    depends_on:
      - backend

volumes:
  mongodb_data:
